@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

td {
  height: 46px;
}
.hide-dropdown-icon .dropdown-toggle::after {
  display: none !important;
}

.shadow-hover {
  transition: box-shadow 0.3s ease;
}
.shadow-hover:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.shadow-focus:focus {
  box-shadow: 0 0 3px rgb(106, 170, 243);
}

input[type="checkbox"]:after {
  content: " ";
  position: relative;
  left: 34%;
  top: 17%;
  width: 33%;
  height: 54%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(50deg);
  display: none;
}
input[type="checkbox"]:checked:after {
  display: block;
}

.light-default,
.light-green,
.light-yellow,
.light-red {
  width: 16px;
  height: 16px;
  border-radius: 15px;
  display: inline-block;
}
.light-default {
  background-color: #b6b6b62f;
  border: 1px solid #3030301a;
}
.light-green {
  background-color: #5bdd83;
  border: 1px solid #2bd457;
}
.light-yellow {
  background-color: #fded35;
  border: 1px solid #ecd900;
}
.light-red {
  background-color: #ff7070;
  border: 1px solid #ff3e3e;
}

table thead th {
  position: sticky;
  top: 127px;
  background-color: #fff;
  z-index: 1;
  box-shadow: inset -1px -2px 0px -1px rgb(226, 232, 240);
}

@keyframes highlightAnimationGreen {
  0% {
    background-color: transparent;
  }
  60% {
    background-color: #00e01e3a;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes highlightAnimationRed {
  0% {
    background-color: transparent;
  }
  60% {
    background-color: #e700003a;
  }
  100% {
    background-color: transparent;
  }
}

.highlight-green {
  animation-name: highlightAnimationGreen;
  animation-duration: 0.8s;
}

.highlight-red {
  animation-name: highlightAnimationRed;
  animation-duration: 0.8s;
}
